@import url('font.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1470px;
    padding: 0 15px;
    margin: auto;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --font: 'Poppins';
}

body {
    font-family: var(--font);
    font-weight: 400;
    color: var(--white);
}

/* header */
.nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background: var(--black);
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav_link {
    color: var(--white);
    padding: 10px 20px;
    transition: .4s;
    border-radius: 14px;
    font-size: 15px;
    line-height: 20px;
}

.nav_link:hover {
    background: var(--white);
    border-radius: 14px;
    color: var(--black);
    transition: .4s;
}

.intro {
    background: url('../img/intro.png')no-repeat center/ cover;
    min-height: 715px;
    height: 100%;
    padding-right: 60px;

}

.intro::after {
    content: '';
    background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%);
}

.intro .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 600px;
    text-align: center;
    height: 715px;
}

.intro_subtitle-up {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #C0C0C0;
    letter-spacing: 2px;
}

.intro_title {
    font-size: 54px;
    line-height: 59px;
    margin-bottom: 20px;
}

.intro_subtitle {
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    width: 580px;
}

.intro_options {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
}

.intro_options-img {
    margin-right: 5px;
}

.intro_options span {
    margin-right: 15px;
    font-size: 12px;
    line-height: 12px;
    margin-top: 5px;
}

/* header */

/* main */
.opportunity {
    padding: 120px 0 100px;
    background: var(--black);
}

.opportunity_grid {
    display: grid;
    grid-template-columns: repeat(2, 575px);
    grid-template-rows: repeat(2, 600px);
    gap: 20px;
    justify-content: center;
    padding-top: 40px;
}

.opportunity_item {
    background: url('../img/product.png');
    padding: 30px;
    position: relative;
}

.opportunity_item:nth-of-type(2) {
    background: url('../img/architecture.png');
    padding: 30px;
}

.opportunity_item:nth-of-type(3) {
    background: url('../img/drone.png');
    padding: 30px;
}

.opportunity_item:nth-of-type(4) {
    background: url('../img/wildlife.png');
    padding: 30px;
}

.opportunity_txt {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.opportunity_title {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 10px;
}

.opportunity_subtitle {
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}

.opportunity_link {
    letter-spacing: 0.4px;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 10px 10px 10px;
    color: var(--black);
    background: var(--white);
    border-radius: 14px;
    display: inline-block;
    transition: 0.4s;
}

.opportunity_link span {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--black);
    display: inline-block;
    margin-right: 5px;
    transition: 0.4s;
}

.opportunity_link:hover {
    background: var(--black);
    color: var(--white);
    transition: 0.4s;
}

.opportunity_link:hover span {
    background: var(--white);
    transition: 0.4s;
}

.opportunity_link:active {
    transform: scale(1.2);
}

.opportunity_link:active span {
    transform: scale(1.2);
}

.section {
    background: url('../img/mount.png')no-repeat center/ cover;
    padding-right: 60px;
}

.section_txt {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: flex-end;
}

.section_txt-block {
    text-align: left;
    width: 300px;
}

.section_title {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
}

.section_subtitle {
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.tools {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 540px;
}

.tools_img {
    background: url('../img/tools.png')no-repeat center/ cover;
    position: relative;
}

.tools_txt-block {
    background: var(--black);
    padding: 170px 100px 150px 100px;
}

.tools_subtitle {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}

.tools_title {
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.tools_txt {
    font-size: 14px;
    line-height: 20px;
    max-width: 515px;
    margin-bottom: 20px;
}

.tool {
    position: absolute;
    bottom: 0;
    right: 60px;
}

.leafs {
    background: url('../img/leaf.png')no-repeat center / cover;
}

.clients {
    background: var(--black);
    padding: 120px 0 100px;
}

.clients_title {
    text-align: center;
    font-size: 40px;
    line-height: 42px;
}

.clients_subtitle {
    padding: 15px 0 40px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}

.clients_logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}

.clients_logos img {
    transition: 0.4s;
}

.clients_logos img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.starFall {
    background: url('../img/star fall.png')no-repeat center / cover;
}

.help {
    background: var(--black);
    padding: 110px 0;
}

.help_title {
    text-align: center;
    font-size: 40px;
    line-height: 42px;
}

.help_subtitle {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    padding: 15px 0;
    color: #C0C0C0;
}

.help_block {
    display: flex;
    justify-content: center;
}

/* main */

/* footer */
.footer {
    background: var(--black);
    padding: 15px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer ul img {
    transition: 0.4s;
}

.footer ul img:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: 0.4s;
}

/* footer */